force-app/main/default/flows/Calculate_RSAP_Total_Initial_Rent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AAAP_Lease_Annual_Rent_Per_RSF_AND_ABOA</name>
        <label>AAAP_Lease_Annual_Rent_Per_RSF_AND_ABOA</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.PBS_AAAP_Lease_Annual_Rent_Per_RSF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AAAP_Lease_Annual_Rent_Per_RSF_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PBS_AAAP_Lease_Annual_Rent_Per_ABOA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AAAP_Lease_Annual_Rent_Per_ABOA_Formula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_RSAP_Lease_Annual_Rent</name>
        <label>Set RSAP_Lease_Annual_Rent</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>$Record.PBS_RSAP_Lease_Annual_Rent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSAP_Lease_Annual_Rent_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AAAP_Lease_Annual_Rent_Per_RSF_AND_ABOA</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>AAAP_Lease_Annual_Rent_Per_ABOA_Formula</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.PBS_RSAP_Lease_Annual_Rent__c}/{!$Record.PBS_AAAP_Total_Ofc_ABOA_offered__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AAAP_Lease_Annual_Rent_Per_RSF_Formula</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.PBS_RSAP_Lease_Annual_Rent__c}/{!$Record.PBS_AAAP_Office_RSF_OFFERED__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RSAP_Lease_Annual_Rent_Formula</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.PBS_RSAP_Total_Parking_Annual_Amount__c} + {!$Record.PBS_RSAP_Shell_Initial_Annual__c} + {!$Record.PBS_AAAP_SRVC_UTIL_TOTAL_GOV__c} +{!$Record.PBS_AAAP_Annual_TI_Rent__c} +{!$Record.PBS_AAAP_Anual_BSAC_Rent__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Calculate RSAP_Lease_Annual_Rent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate RSAP Total Initial Rent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_RSAP_Lease_Annual_Rent</targetReference>
        </connector>
        <object>PBS_AAAP_Offer__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
