force-app/main/default/flows/LMT_User_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>LMT_Users</name>
        <label>LMT Users</label>
        <locationX>448</locationX>
        <locationY>445</locationY>
        <actionName>LMT_UserHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgDetail</name>
            <value>
                <elementReference>get_Org_Details</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>updatedUsers</name>
            <value>
                <elementReference>Users_Updated_in_last_24_hours</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LMT_UserHandler</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <formulas>
        <name>oneDayAgoValue</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}-1</expression>
    </formulas>
    <interviewLabel>LMT User creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LMT User creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Org_Details</name>
        <label>get Org Details</label>
        <locationX>447</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LMT_Users</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Users_Updated_in_last_24_hours</name>
        <label>Users Updated in last 24 hours</label>
        <locationX>446</locationX>
        <locationY>76</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Org_Details</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>oneDayAgoValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastLoginDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>oneDayAgoValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>FederationIdentifier</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FederationIdentifier</queriedFields>
        <queriedFields>User_License__c</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>LastLoginDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>51</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Users_Updated_in_last_24_hours</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-09-11</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
