force-app/main/default/flows/LMT_Permission_Set_Assignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>LMT_Permission_Set_Assignment_Process</name>
        <label>LMT Permission Set Assignment Process</label>
        <locationX>1284</locationX>
        <locationY>131</locationY>
        <actionName>LMT_PermissionSetAssignmentHandler</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>crmPS</name>
            <value>
                <elementReference>CRMPermissionSetIdList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userIdList</name>
            <value>
                <elementReference>UserIdList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LMT_PermissionSetAssignmentHandler</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>CRM_permission_set_assignment</name>
        <label>CRM permission set assignment</label>
        <locationX>1071</locationX>
        <locationY>3</locationY>
        <assignmentItems>
            <assignToReference>CRMPermissionSetIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CRM_Metadata_type_Loop.Org_Permission_Set_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CRM_Metadata_type_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DisplayValueAssignment</name>
        <label>DisplayValueAssignment</label>
        <locationX>783</locationX>
        <locationY>21</locationY>
        <assignmentItems>
            <assignToReference>DisplayValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetUpAuditTrail.Display</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UserIdListAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UserIdListAssignment</name>
        <label>UserIdListAssignment</label>
        <locationX>684</locationX>
        <locationY>15</locationY>
        <assignmentItems>
            <assignToReference>UserIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetUpAuditTrail</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>PermSetAssign</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PermSetAssign</stringValue>
        </value>
    </constants>
    <constants>
        <name>PermSetUnAssign</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PermSetUnassign</stringValue>
        </value>
    </constants>
    <description>Daily job which processes PS assignments to the users and updates LMT records.</description>
    <formulas>
        <name>OneDayAgo</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}-1</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>MID({!DisplayValue}, FIND(&quot;005&quot;,{!DisplayValue}), 15)</expression>
    </formulas>
    <interviewLabel>LMT Permission Set Assignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LMT Permission Set Assignments</label>
    <loops>
        <name>CRM_Metadata_type_Loop</name>
        <label>CRM Metadata type Loop</label>
        <locationX>1068</locationX>
        <locationY>127</locationY>
        <collectionReference>Get_CRM_PS_From_Metadata_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CRM_permission_set_assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LMT_Permission_Set_Assignment_Process</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SetUpAuditTrail</name>
        <label>SetUpAuditTrail</label>
        <locationX>692</locationX>
        <locationY>118</locationY>
        <collectionReference>Get_Setup_Audit_Trail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DisplayValueAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_CRM_PS_From_Metadata_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get CRM PS from the meta data type</description>
        <name>Get_CRM_PS_From_Metadata_Type</name>
        <label>Get CRM PS From Metadata Type</label>
        <locationX>870</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CRM_Metadata_type_Loop</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LMT_CRM_Permission_Sets__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the setup audit trail records for the removal of permission set assignments in the last 24 hours</description>
        <name>Get_Setup_Audit_Trail</name>
        <label>Get Setup Audit Trail</label>
        <locationX>533</locationX>
        <locationY>116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetUpAuditTrail</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Action</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PermSetUnassign</stringValue>
            </value>
        </filters>
        <filters>
            <field>Action</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PermSetAssign</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>OneDayAgo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SetupAuditTrail</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Display</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Setup_Audit_Trail</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-09-11</startDate>
            <startTime>01:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CRMPermissionSetIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DisplayValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestPermSetUnAssign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PermSetUnassign</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
