force-app/main/default/flows/NCMTProjectClone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>redirectToRecord</name>
        <label>redirectToRecord</label>
        <locationX>176</locationX>
        <locationY>1622</locationY>
        <actionName>c:RedirectToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>newProjectRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:RedirectToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ShowToast</name>
        <label>ShowToast</label>
        <locationX>176</locationX>
        <locationY>1514</locationY>
        <actionName>c:ShowToastMessage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>redirectToRecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Record clone successfully!</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:ShowToastMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Project_Values</name>
        <label>Assign Project Values</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>GetNCMTProjectRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetNCMTProjectRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>newNCMTProject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cloning_Id</name>
        <label>Cloning Id</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>looping_NCMTOtherCostRecords.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creating_Collection_NCMT_OtherCost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cloning_NCMT_OtherCost</name>
        <label>Cloning NCMT OtherCost</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>looping_NCMTOtherCostRecords.NCMT_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newProject.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>looping_NCMTOtherCostRecords.NCMT_Other_Cost_Original_Record_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>looping_NCMTOtherCostRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cloning_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Creating_Collection_NCMT_OtherCost</name>
        <label>Creating Collection NCMT OtherCost</label>
        <locationX>264</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>otherCostRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>looping_NCMTOtherCostRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>looping_NCMTOtherCostRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newNCMTProject</name>
        <label>newNCMTProject</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>newProject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNCMTProjectRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newProjectIdAssign</name>
        <label>newProjectIdAssign</label>
        <locationX>176</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>newProjectRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newProject.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ShowToast</targetReference>
        </connector>
    </assignments>
    <interviewLabel>NCMTProjectClone {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>NCMTProjectClone</label>
    <loops>
        <name>looping_NCMTOtherCostRecords</name>
        <label>looping NCMTOtherCostRecords</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <collectionReference>GetOtherCOst</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cloning_NCMT_OtherCost</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Creating_NCMT_Other_Cost</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Project</name>
        <label>Create Project</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>GetOtherCOst</targetReference>
        </connector>
        <inputReference>newProject</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Creating_NCMT_Other_Cost</name>
        <label>Creating NCMT Other Cost</label>
        <locationX>176</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>newProjectIdAssign</targetReference>
        </connector>
        <inputReference>otherCostRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetNCMTProjectRecord</name>
        <label>GetNCMTProjectRecord</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NCMTProjectCloneScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NCMT_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOtherCOst</name>
        <label>getNCMTOtherCostRecords</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>looping_NCMTOtherCostRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NCMT_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NCMT_Other_Cost__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>NCMTProjectCloneScreen</name>
        <label>NCMTProjectCloneScreen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Project_Values</targetReference>
        </connector>
        <fields>
            <name>Project_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetNCMTProjectRecord.Name</elementReference>
            </defaultValue>
            <fieldText>Project Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetNCMTProjectRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CloneNCMTProjectRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NCMT_Project__c</objectType>
    </variables>
    <variables>
        <name>newProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NCMT_Project__c</objectType>
    </variables>
    <variables>
        <name>newProjectRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>otherCostRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NCMT_Other_Cost__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
