force-app/main/default/flows/TCO_Cost_Model.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_for_Housing_Plan_Count</name>
        <label>Check for Housing Plan Count</label>
        <locationX>319</locationX>
        <locationY>170</locationY>
        <defaultConnector>
            <targetReference>Update_NCMT_Project_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Housing_Plan_count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NCMT_Project_Record.Housing_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_NCMT_Project_Record.UserDefinedHousingPlan_Record_Count__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Rule_for_custom_housing_plan</targetReference>
            </connector>
            <label>Housing Plan count</label>
        </rules>
        <rules>
            <name>Check_Building_Cost_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NCMT_Project_Record.Building_Cost_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Core/Shell with TI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Rule_for_Building_Cost_Type</targetReference>
            </connector>
            <label>Check Building Cost Type</label>
        </rules>
        <rules>
            <name>Check_Cost_Parameter_FY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NCMT_Project_Record.dblCost_Parameter_Date_FY__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2020.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Rule_for_Cost_Parameter_FY</targetReference>
            </connector>
            <label>Check Cost Parameter FY</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Find_RecordType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Construction_TCO</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>TCO Cost Model {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TCO Cost Model</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_NCMT_Project_Record</name>
        <label>Get NCMT Project Record</label>
        <locationX>186</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NCMT_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordTypeId</name>
        <label>Get RecordTypeId</label>
        <locationX>175</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Housing_Plan_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Construction_TCO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_NCMT_Project_Record</name>
        <label>Update_NCMT_Project_Record</label>
        <locationX>531</locationX>
        <locationY>18</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>NCMT_Project__c</object>
    </recordUpdates>
    <screens>
        <name>Validation_Rule_for_Building_Cost_Type</name>
        <label>Validation Rule for Building Cost Type</label>
        <locationX>618</locationX>
        <locationY>327</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Validation_rule_for_BCT</name>
            <fieldText>&lt;p&gt;Building Cost Type should be only CoreShell with TI to calculate TCO Cost&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validation_Rule_for_Cost_Parameter_FY</name>
        <label>Validation Rule for Cost Parameter FY</label>
        <locationX>355</locationX>
        <locationY>371</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Validation_rule_for_CostFY</name>
            <fieldText>&lt;p&gt;Please Clone project before calculating TCO Cost.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validation_Rule_for_custom_housing_plan</name>
        <label>Validation Rule for custom housing plan</label>
        <locationX>680</locationX>
        <locationY>129</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Validation_Rule</name>
            <fieldText>&lt;p&gt;Please enter atleast one housing plan before calculating TCO Cost.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>45</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Get_NCMT_Project_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
